a:link {
    text-decoration: none;
}

div.leaflet-marker-icon.location-filter.resize-marker {
    background: url( img/resize-handle.png ) no-repeat;
    cursor: move;
}
div.leaflet-marker-icon.location-filter.move-marker {
    background: url( img/move-handle.png ) no-repeat;
    cursor: move;
}

div.location-filter.button-container {  
	margin-top: 16px;
	margin-bottom: 4px;
}

.leaflet-container div.location-filter.button-container a {
	color: black;
	font: 14px Arial;
    border: 1px solid rgb(255,255,255);
	padding: 5px 6px 6px 25px;
    background: rgb(255,255,255);
    border-radius: 5px;
    background-image: url( img/filter-icon.png );
	background-repeat: no-repeat;
    background-position: left;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.4);
}

.leaflet-container div.location-filter.button-container a:hover {
	color: black;
	font: 14px Arial;
    border: 1px solid rgb(235,235,235);
	padding: 5px 6px 6px 25px;
    background: rgb(235,235,235);
    border-radius: 5px;
    background-image: url( img/filter-icon.png );
	background-repeat: no-repeat;
    background-position: left;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.4);
}

.leaflet-container div.location-filter.button-container a.enable-button {

}
.leaflet-container div.location-filter.button-container a.enable-button:hover,
.leaflet-container div.location-filter.button-container.enabled a.enable-button {

}

.leaflet-container div.location-filter.button-container a.adjust-button {
}
